@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 8px;
    padding: 15px;

}

a:hover {
    text-decoration: underline;
}

body{
    color: #70757a;
    overflow: hidden;
    height: 100vh;
    /*propiedades para modificar a los hijos (flexbox)*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: fit-content;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: transparent;
    text-align: center;
    background-color: green;
    margin: 0 8px;
}

.menu_apps{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: transparent;
    background-color: white;
    margin: 0 8px;
    
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 92px;
    width: 272px;
}

.busqueda{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 99px;
    width: 50%;
    justify-content: space-between;
    padding: 2px 12px;
}

.busqueda input{
    padding: 4px 16px;
    margin: 4px;
    font-size: 18px;
    border: transparent;
    width: 100%;
}

.busqueda span:after{
    content: '🎙️';
    font-size: 20px;
}

.busqueda label:after{
    content: '🔎';
    font-size: 20px;
}

.acciones{
    margin-top: 20px;
}

.acciones button {
    padding: 8px 16px;
    height: 36px;
    border: transparent;
    border-radius: 8px;
    padding: 8px;
    cursor:pointer;
}

.acciones button:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

footer {
    background-color: #f2f2f2;
}

.pais{
    font-size: 17px;
    font-weight: normal;
    padding: 15px 30px;
    border-bottom: 1px solid    #dadce0;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 46px;
    font-size: 14px;
    
}

@media (max-width: 60rem) {
    .links{
        flex-direction: column;
        align-items: center;
    }
}